<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.CarryMyPageDao">

    <!-- 캐리 정보 수정  -->
    <update id="updateCarryModify"
            parameterType="com.project.gymcarry.carry.CarryInfoDto">
        update carry a , crcertification c
        set
            a.crintro = #{crintro}, a.crfield = #{crfield}, a.crplace = #{crplace}, a.crdepart = #{crdepart}, a.crbfphoto = #{crbfphoto},
            c.crcerti1 = #{crcerti1}, c.crcerti2 = #{crcerti2}, c.crcerti3 = #{crcerti3}, c.crcerti4 = #{crcerti4}, c.crcerti5 = #{crcerti5}
        where
            a.cridx=c.cridx and a.cridx = #{cridx}
    </update>

    <!-- 캐리 가격 수정 -->
    <update id="updateCarryPrice"
            parameterType="com.project.gymcarry.carry.CarryPriceDto">
        update crprice
        set proprice =
                case
                    when procount = 1 then #{param1}
                    when procount = 5 then #{param2}
                    when procount = 10 then #{param3}
                    when procount = 20 then #{param4}
                    end
        where cridx = #{param5};
    </update>
    
    
    <!-- 캐리 기본 정보 수정에 필요한 데이터 값 출력 -->
   <select id="selectCarryBasicInfo" resultType="com.project.gymcarry.carry.CarryJoinDto">
      select * from carry where cridx = #{cridx}
   </select>
   
   <!-- 캐리 기본 정보 수정 -->
   <update id="updateCarryBasicInfo"
      parameterType="com.project.gymcarry.carry.CarryJoinDto"
   >
      update carry
      set 
      crpw = #{crpw}, crnick = #{crnick}, crphone = #{crphone}, crgender = #{crgender}, crphoto = #{crphoto}
      where cridx = #{cridx}
   </update>
    
</mapper>