<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.ChatDao">


	<select id="selectChattingList"
		resultType="com.project.gymcarry.chatting.ChatRoomDto">
		select m.chatcontent, m.chatdate
		from project.chatroom m, project.chatlist l
		where l.chatidx=#{chatidx} and m.chatidx=l.chatidx;
	</select>

	<select id="selectChatList"
		resultType="com.project.gymcarry.chatting.ChatListDto">
		select c.crnick, c.centername, m.chatcontent, m.chatdate,l.chatidx
		from carry c, chatroom m, chatlist l
		where c.cridx=m.cridx and
		m.chatidx=l.chatidx;
	</select>



</mapper>