<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.gymcarry.dao.MemberDao">
	
	<!-- member -->
	<select id="login"
		resultType="com.project.gymcarry.member.MemberDto"
	>
		select memidx, memnick from member where mememail=#{param1} and mempw=#{param2}
	</select>
	
	
	<insert id="insertMember"
		parameterType="com.project.gymcarry.member.MemberDto"
		useGeneratedKeys="true"
		keyProperty="memidx"
		>
		insert into member(mememail, mempw, memname, memnick) 
		values (#{mememail},#{mempw},#{memname},#{memnick})
	</insert>
	
	<!-- carry -->
	<select id="carryLogin"
		resultType="com.project.gymcarry.carry.CarryAllDto"
	>
		select * from carry where crid=#{param1} and crpw=#{param2}
	</select>
	
	
	<insert id="insertCarry"
		parameterType="com.project.gymcarry.carry.CarryAllDto"
		useGeneratedKeys="true"
		keyProperty="cridx"
		>
		insert into carry(crid, crpw, crname, crnick, placename) 
		values (#{crid},#{crpw},#{crname},#{crnick},#{placename})
		
	</insert>

	
	
	
</mapper>