#chatwarp{
    width: 1285px;
    height: 800px;
    margin: 0px auto;
    margin-top: 100px;
    padding-top: 100px
}

#chatlist_wrap{
    width: 442px;
    height: 600px;
    padding: 20px;
    float: left;
    border: 2px solid #000;
    border-top: none;
    overflow-x:hidden; 
    overflow-y:auto; 
}

/* 채팅목록리스트 */
.chatid{
    width: 440px;
    height: 90px;
    text-align: center;
    line-height: 40px;
    border-right: 2px solid #000;
    float: left;
    
}
.chatid h3{
    margin-top: 25px;
}
.chatlist{
    width: 390px;
    height: 100px;
    border: 2px solid rgb(179, 179, 179);
    box-shadow: 3px 3px #ddd;
}
.chatlist a{
    color: black;
    text-decoration: none;
}
.float_left img{
    width: 85px;
    padding: 15px;
}



.float_left{
    float: left;
}
.chat_name{
    width: 17%;
    height: 50%;
    padding-top: 23px;
}
.chat_title{
    padding-top: 25px;
    float: left;
    color: rgb(119, 117, 117);
}
.chat_content{
    padding-top: 50px;
    color: rgb(119, 117, 117);
}

.chat_content span{
    display:inline-block; 
    width:200px; 
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}

.chat_date{
    float: right;
    margin: -10px 20px;
    font-size: 13px;
    color: rgb(119, 117, 117);
}

/* 대화창 */

.chat_ul{
    width: 1285px;
    border: 2px solid #000;
    float: right;
}

.chat_ul li{
    float: left;
    list-style: none;
    margin-top: 20px;
}

#chatcontent_warp{
    width: 843px;
    height: 600px;
    border: 2px solid #000;
    border-top: none;
    border-left: none;
    float: right;
    
}
#chatcontent_warp .chatting_content {
    width:100%;
    height: 89%;
    overflow-x:hidden; 
    overflow-y:auto; 
}

.chat_ul img{
    margin-right: 30px;
    margin-top: 5px;
    
}

.back_button input[type="button"]{
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 0px 40px;
    margin-right: 70px;
}

.order_button{
    position: absolute;
    margin-left: 1100px;
}
.order_button input[type="button"]{
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.back_button:hover input, .order_button:hover input{
    cursor: pointer;
    color: black;
}

.carry_message{
    float: left;
    width: 835px;
}

.carry_line{
    float: left;
    padding: 20px;
}
.carry_line img{
    width: 60px;
}

.carry_chat{
    position: relative;
    margin-right: 70px;
    width: 60%;
}
.carry_message span{
    color: white;
}

.time_line{
    position: absolute;
    bottom: 20px;
    right: 0;
    margin-right: 25px;
}
.time_line span{
    color: rgb(109, 108, 108);
}
.time_line2 span{
    color: rgb(109, 108, 108);
}
.message {
    position:relative;
    margin: 20px 5px;
    width: 60%;
    height: auto;
    background:#333333;
    border-radius: 10px;
    padding: 20px;
    word-wrap: break-word;
    display: inline-block;
}
.message_color span{
	color: white;
}

.message:after {
    border-top:15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
}

.carry_line2{
    float: right;
}

.user_message_warp{
    float: right;
    width: 835px;
}

.user_message {
    position:relative;
    margin: 20px;
    width: 80%;
    height: auto;
    background:#ced6e0;
    border-radius: 10px;
    color: black;
    padding: 20px;
    word-wrap: break-word;
    display: inline-block;
    
}

.user_message:after {
    border-top:15px solid #ced6e0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    right:-15px;
}

.time_line2{
    position: absolute;
    bottom: 20px;
    left: -60px;
}

.user_chat{
    position: relative;
    margin: 0px -30px 0px auto;
    width: 45%;
}

.chatting_write{
    display: flex;
    height: 65px;
    border-top: 2px solid #000;
}
		
.chatting_write img{
    width: 40px;
    height: 40px;
    /* border-top: 2px solid #000; */
}

.chatting_write input[type="text"]{
    width: calc(100% - 100px);
    padding: 0 30px;
    border:none;
    font-size: 16px;
    height:61px
    
}
.chatting_write input[type="text"]:focus{
    outline: none;
}

.chatting_write .btn {
    width:100px;
    border:none;
    background:none;
    height:62px;
    cursor: pointer;
}

.chatting_write .btn > img {
    padding:0;
}

.not_message{
    text-align: center;
    margin-top: 200px;
}

.not_message h3{
    color: cornflowerblue;
}